.tile{
    display: inline-flex;
    background-color: rgb(66, 104, 66);

}

.grass{
    background-image: url('/tiles/grass.jpg')
}

.rock{
    background-image: url('/tiles/rock.jpg')
}

.tree{
    background-image: url('/tiles/tree.png')
}

.chest{
    background-image: url('/tiles/chest.png')
}